h2 {
    font-size: 40px;
    font-family: cursive;
    margin-left: 50px;
}

h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

ul {
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}